// Center a block via margins
.block--center {
  margin-left: auto;
  margin-right: auto;
}

// Center content within a container
.center-content {
  @include center-content;
}

// Define custom border helpers
.border--bottom { border-bottom: $border-width solid $border-color; }
.border--left { border-left: $border-width solid $border-color; }
.border--right { border-right: $border-width solid $border-color; }
.border--top { border-top: $border-width solid $border-color; }

// Helper for fading out an element.
.faded {
  opacity: $opacity-faded;
}

// Sets position:relative on an element
.pos-rel {
  position: relative;
}

// Define common push values
@each $size in $push-sizes {
  // Push on all sides
  .push#{$size} { margin: #{$size}px; }

  // Push on specific sizes
  .push#{$size}--bottom { margin-bottom: #{$size}px; }
  .push#{$size}--left { margin-left: #{$size}px; }
  .push#{$size}--right { margin-right: #{$size}px; }
  .push#{$size}--top { margin-top: #{$size}px; }

  // Push on top and bottom
  .push#{$size}--ends {
    margin-bottom: #{$size}px;
    margin-top: #{$size}px;
  }

  // Push on left and right
  .push#{$size}--sides {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }
}

// Define .hidden helper for hiding elements
.hidden {
  display: none;
}

// Define .hidden-{media-query} helpers to hide elements at different device sizes
// .hidden--small, .hidden--medium, .hidden--medium-and-up, ...
@each $media-query in $custom-media-queries {
  @include media-query-custom($media-query) {
    .hidden--#{$media-query} {
      display: none;
    }
  }
}

// Preserves new lines
// SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/white-space
.white-space--pre-line {
  white-space: pre-line;
}

.strikethrough {
  position: relative;
  z-index: 0;

  &:after {
    background: $whitish-black;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }
}
