// Variables
// ======
// Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
// keep, simply redefine here. This means that if inuit.css, for example, sets
// your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
// that variable in this file. inuit.css ignores its own variables in favour of
// using your own, so you can completely modify how inuit.css works without ever
// having to alter the framework itself.
// ======

// Objects and abstractions
// ======
// All of inuit.css’ objects and abstractions are initially turned off by
// default. This means that you start any project with as little as possible,
// and introducing objects and abstractions is as simple as switching the
// following variables to `true`.
// ======
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;

// Overrides
// ======
// Place any variables that should override inuit.css’ defaults here.
// ======

// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss
// Flags from inuit
$debug-mode: false; // default
$global-border-box: true; // default

// Quick and dirty typography rundown
// Headings/paragraphs
$alpha-font-size: 30px;
$beta-font-size: 20px;
$gamma-font-size: 15px;
$p-font-size: 13px;

// Form elements
$btn-font-size: 13px;
$btn-font-weight: 700;
$btn-block-font-size: 15px;
$btn-block-font-weight: 400;

// Uses OpenSans-Semibold
$block-label-font-size: 12px;
$inline-label-font-size: 13px;
$nested-checkbox-font-size: 10px;
// Has matching 16px line-height for vertical centering with checkbox

// Generic elements
$comment-font-size: 10px; // "This batch is currently..." on "03_new_signup_add_payment", "next invoice" on "23_settings_billing_admin"
$hr-font-size: 12px; // "or" in "18_invited_teammate_create_account"
$th-small-font-size: 12px; // "Name" on "22_settings_team_admin"

// Base font setup
$base-font-size: $p-font-size;
$base-line-height: 18px;
// Fonts from mocks:
//   OpenSans - everywhere
//   OpenSans italics - "This batch is currently *free*..." in "03_new_signup_add_payment"
//   OpenSans Semibold - "Create Account" in "05_create_account_error"
// https://github.com/corysimmons/typographic/blob/2.9.3/scss/typographic.scss#L27-L40
// DEV: Google uses "Open Sans" not "OpenSans"
$base-font-family: 'Open Sans', 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';

// More complex font setup
$giga-size: 96px; // default
$mega-size: 72px; // default
$kilo-size: 48px; // default

$h1-size: $alpha-font-size; // .alpha
$h2-size: $beta-font-size; // .beta
$h3-size: $gamma-font-size; // .gamma
$h4-size: 20px; // .delta // default
$h5-size: 16px; // .epsilon // default
$h6-size: 14px; // .zeta // default

$milli-size: 12px; // default
$micro-size: 10px; // default

// Set up spacing for baseline and between elements
$base-spacing-unit: $base-line-height; // default
$half-spacing-unit: $base-spacing-unit / 2; // default
$line-height-ratio: $base-line-height / $base-font-size; // default

// Custom
// ======
// Place all custom variables here.
// ======
// Grid
$columns: 12;
$gutter-width: 14px;
$row-max-width: 1400px;

// Colors
// Please base names off of https://en.wikipedia.org/wiki/Color_Naming_System
// Grayscale from black to white
$black: #000000;
$whitish-black: #0B1D2B; // Bedtime
$dark-gray: #908E9E; // Wag
$gray-xdc: #DCDCDC; // Sit
$gray-xf3: #F3F3F3; // Stay
$white: #FFFFFF;

// Rainbow (red, orange, yellow, green, blue, indigo, violet)
$red: #E3152E; // Error
$light-red: #DD6B4E; // Treat
$orange: #E9A631; // Sunshine
$green: #72CEAA; // Barf
$light-green: #ECF6F2; // Playtime
$blue: #3497FF; // Good boy blue
$purple: #524B7A; // Pupple

// Custom icon colors
$dribble-pink: #EB4C89; // Dribble icon
$linkedin-blue: #2476B9; // LinkedIn icon
$visa-yellow: #E9A631; // Visa icon

// Third party branding colors
$google-red: #DC4E41; // Google sign in button

// Color bindings to components
// Section coloring
$header-bg: $white;
$header-color: $whitish-black;

// Banner coloring
$section-divider-bg: $gray-xf3;

// Sidebar coloring
$sidebar-title-color: $dark-gray;

// Icon coloring
$default-icon-color: $purple;
$icon-color-overrides: (
  arrow: $whitish-black,
  close: $whitish-black,
  dribble: $dribble-pink,
  github: $black,
  linkedin: $linkedin-blue,
  locked: $whitish-black,
  referral: $blue,
  resume: $light-red,
  small-arrow: $gray-xdc,
  visa: $visa-yellow,
);

// Link coloring
$link-color: $purple;
$nav-link-color: $whitish-black;
$nav-link-active-color: $purple;
$menu-link-color: $purple;

// Form coloring
$input-text-border-color: $gray-xdc;
$input-text-disabled-bg: $gray-xf3;
$input-text-error-border-color: $red;
$input-checkbox-border-color: $gray-xdc;
$input-checkbox-checked-bg: $dark-gray;
$nested-checkbox-color: $dark-gray;
$block-label-color: $dark-gray;
$block-label-error-color: $red;

// Button coloring
$btn-primary-bg: $green;
$btn-primary-color: $white;
$btn-primary-disabled-bg: $gray-xdc;
$btn-primary-disabled-color: $white;
$btn-secondary-bg: $white;
$btn-secondary-color: $purple;
$btn-secondary-border-color: $gray-xdc;
$btn-secondary-disabled-bg: $white;
$btn-secondary-disabled-color: $gray-xdc;
$btn-google-bg: $google-red;
$btn-google-color: $white;
$btn-hover-darken: 7%;

// Alert coloring
$alert-bg: $gray-xf3;
$alert-color: $black;
$alert-close-color: $dark-gray;
$alert-error-bg: $red;
$alert-error-color: $white;
$alert-success-bg: $light-green;
$alert-success-color: $black;

// Define borders
$border-width: 4px;
$border-color: $gray-xf3;

// Define radii
$input-text-border-radius: 4px;
$btn-border-radius: 4px;

// Site specific media query breakpoints
$small-end: 530px;
$medium-start: $small-end + 1px;
$medium-end: 768px;
$large-start: $medium-end + 1px;
$large-end: 1024px;
$extra-large-start: $large-end + 1px;
$custom-media-queries: small, medium, medium-and-up, medium-and-down, large, large-and-up, large-and-down, extra-large;
