<div class="header">
  <a class="header__logo" href="/">
    <img class="hidden--small" src="/dist/img/underdogio-logo-with-text.svg" alt="Underdog.io logo" width="173" height="50">
    <img class="hidden--medium-and-up" src="/dist/img/underdogio-logo.svg" alt="Underdog.io logo" width="48" height="50">
  </a>
  <a class="header__nav" href="https://underdog.io">
    Go to Underdog.io
  </a>
</div>
