// Forms
// ======
$input-text-height: 40px;
$input-text-border-width: 1px;

// Let the user know that labels can be clicked.
label {
  cursor: pointer;
}

input {
  &[type='email'],
  &[type='text'],
  &[type='password'],
  &[type='url'] {
    @include text-input;
  }
}

select {
  // Remove default select styling
  background: inherit;
  border: $input-select-border-width solid $input-select-border-color;
  border-radius: $input-select-border-radius;
  display: block;
  height: $input-select-height;
  width: 100%;
}

textarea {
  @include text-input;
  resize: vertical;
}

// Custom checkbox styles
.checkbox {
  input {
    &[type=checkbox] {
      height: 1rem;
      margin-right: 7px;
    }
  }
}

.checkbox--nested {
  color: $nested-checkbox-color;
  font-size: $nested-checkbox-font-size;

  input {
    &[type=checkbox] {
      height: 0.9rem;
    }
  }
}

// Custom radio styles
.radio {
  input {
    &[type=radio] {
      margin-right: 7px;
    }
  }
}

// Custom form elements
.block-label {
  @include transition(color);
  color: $block-label-color;
  display: block;
  font-size: $block-label-font-size;
  margin-bottom: $block-label-margin;
  width: 100%;
}

.block-label--error {
  color: $block-label-error-color;
}

.block-input {
  display: block;
  width: 100%;
}
