h1,
h2,
h3,
h4,
h5,
h6 {
  color: $subheader-color;
  font-weight: $font-weight-normal;
}

h1 {
  color: $headline-color;
}

.small-heading {
  @include all-caps;
  color: $small-heading-color;
  display: block;
  font-size: $small-heading-size;
  font-weight: $font-weight-bold;
  margin-bottom: $half-spacing-unit;
}
