h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $subheader-color;
  font-weight: $font-weight-normal;
}

// Match font sizes for heading classes
.h1 {
  @extend .alpha;
}

.h2 {
  @extend .beta;
}

.h3 {
  @extend .gamma;
}

h1,
.h1 {
  color: $headline-color;
}

.small-heading {
  @include all-caps;
  color: $small-heading-color;
  display: block;
  font-size: $small-heading-size;
  font-weight: $font-weight-bold;
  margin-bottom: $half-spacing-unit;
}
