// Alert coloring
$alert-bg: $gray-xf3;
$alert-color: $black;
$alert-close-color: $dark-gray;
$alert-error-bg: $red;
$alert-error-color: $white;
$alert-padding: 10px;
$alert-success-bg: $light-green;
$alert-success-color: $black;
