// Button sizing
$btn-font-size: 13px;
$btn-font-weight: $font-weight-bold;
$btn-block-font-size: 15px;
$btn-block-font-weight: $font-weight-normal;

// Button coloring
$btn-primary-bg: $green;
$btn-primary-color: $white;
$btn-primary-disabled-bg: $gray-xdc;
$btn-primary-disabled-color: $white;
$btn-secondary-bg: $white;
$btn-secondary-color: $purple;
$btn-secondary-border-color: $gray-xdc;
$btn-secondary-disabled-bg: $white;
$btn-secondary-disabled-color: $gray-xdc;
$btn-google-bg: $google-red;
$btn-google-color: $white;
$btn-hover-darken: 7%;

// Border radius
$btn-border-radius: 4px;
