// Colors
// Please base names off of https://en.wikipedia.org/wiki/Color_Naming_System
// Grayscale from black to white
$black: #000000;
$whitish-black: #0B1D2B; // Bedtime
$dark-gray: #908E9E; // Wag
$gray-xdc: #DCDCDC; // Sit
$gray-xf3: #F3F3F3; // Stay
$white: #FFFFFF;

// Rainbow (red, orange, yellow, green, blue, indigo, violet)
$red: #E3152E; // Error
$light-red: #DD6B4E; // Treat
$orange: #E9A631; // Sunshine
$green: #72CEAA; // Barf
$light-green: #ECF6F2; // Playtime
$blue: #3497FF; // Good boy blue
$purple: #524B7A; // Pupple

// Custom icon colors
$dribble-pink: #EB4C89; // Dribble icon
$linkedin-blue: #2476B9; // LinkedIn icon
$visa-yellow: #E9A631; // Visa icon

// Third party branding colors
$google-red: #DC4E41; // Google sign in button
