$dropdown-menu-border: solid 1px $gray-xdc;
$dropdown-menu-box-shadow: 0 2px 2px $gray-xdc;
$dropdown-menu-border-radius: 4px;
$dropdown-menu-bg: $gray-xf3 !default;
$dropdown-menu-content-padding: $base-spacing-unit $base-spacing-width !default;
$dropdown-menu-width: 16em;
