// Form coloring
$input-text-border-color: $gray-xdc;
$input-text-disabled-bg: $gray-xf3;
$input-text-error-border-color: $red;
$input-checkbox-border-color: $gray-xdc;
$input-checkbox-checked-bg: $dark-gray;
$nested-checkbox-color: $dark-gray;
$block-label-color: $dark-gray;
$block-label-error-color: $red;

// Border radius
$input-text-border-radius: 4px;
