// Link coloring
$link-color: $purple;
$link-hover-color: $green;
$link-disabled-color: $dark-gray;
$nav-link-color: $whitish-black;
$nav-link-active-color: $purple;
$nav-link-disabled-color: $dark-gray;
$menu-link-color: $purple;
