$modal-background: $semi-transparent;
$modal-content-background: $white;
$modal-content-border-radius: $border-radius;
$modal-content-box-shadow: $box-shadow;
$modal-content-width: 400px;
$modal-header-color: $whitish-black;
$modal-padding: $half-spacing-unit;
