$slab-border: solid $border-width $gray-xdc;
$slab-padding: ($base-spacing-unit * 2) 0;
$slab-section-spacing: $base-spacing-unit;
$slab-section-padding: 0 $base-spacing-width;
$slab-featured-bg: $gray-xf2;
