// SEE: dropdown.md
.dropdown {
  @extend .pos-rel;
  display: inline-block;
  // Reset font styles so that dropdowns can be used within headings
  font-size: 1rem;
  font-weight: $font-weight-normal;
}

.dropdown__menu {
  line-height: $base-line-height;
  margin-top: $dropdown-menu-triangle-size;
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;
  width: $dropdown-menu-width;
  z-index: layer(dropdown-menu);

  // Fake a border-ed triangle by positioning a smaller triangle with a lighter
  // background on top of a triangle with a dark background
  &:before {
    @include triangle($dropdown-border-color, $dropdown-menu-triangle-size);
    content: '';
    display: inline-block;

    // Magic numbers
    margin-bottom: -0.5em;
    margin-right: 1em;
    position: relative;
    z-index: 0;
  }

  &:after {
    @include triangle($dropdown-menu-bg, 12px);
    content: '';
    display: inline-block;

    // Magic numbers
    position: absolute;
    right: 16px;
    top: 11.4px;
    z-index: 1;
  }
}

.dropdown__menu-wrapper {
  background: $dropdown-menu-bg;
  border: $dropdown-menu-border;
  border-radius: $dropdown-menu-border-radius;
  box-shadow: $dropdown-menu-box-shadow;
  text-align: left;
}

.dropdown__menu-content {
  padding: $dropdown-menu-content-padding;
}
