// SEE: dropdown.md
.dropdown {
  @extend .pos-rel;
  display: inline-block;
  // Reset font styles so that dropdowns can be used within headings
  font-size: 1rem;
  font-weight: $font-weight-normal;
}

.dropdown__menu {
  line-height: $base-line-height;
  position: absolute;
  text-align: right;
  margin-top: $dropdown-menu-triangle-size;
  right: 0;
  top: 50%;
  width: $dropdown-menu-width;
  z-index: layer(dropdown-menu);

  &:before {
    @include triangle($dropdown-menu-bg, $dropdown-menu-triangle-size);
    content: '';
    display: inline-block;

    // Magic numbers
    margin-bottom: -0.5em;
    margin-right: 1em;
  }
}

.dropdown__menu-wrapper {
  background: $dropdown-menu-bg;
  border-radius: $dropdown-menu-border-radius;
  box-shadow: $dropdown-menu-box-shadow;
  text-align: left;
}

.dropdown__menu-content {
  padding: $dropdown-menu-content-padding;
}
