.footer {
  border-top: $footer-border;
  color: $footer-color;
  font-weight: $footer-font-weight;
  padding: $footer-padding;

  @include media-query-medium-and-down {
    text-align: center;
  }

  @include media-query-large-and-up {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
}

.footer__link {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;

  @include media-query-medium-and-down {
    display: block;
    margin-bottom: $footer-link-spacing;
  }

  @include media-query-large-and-up {
    display: inline-block;
    margin-right: $footer-link-spacing;
  }
}
