// Full width site header
// ======
// <div class="header">
//   <div class="header__logo">
//     <img src="..." width="..." height="..." />
//   </div>
//   <div class="header__nav">
//     <span class="icon icon-menu" />
//     <span>Menu</span>
//   </div>
// </div>
// ======

// Allow header__content to be optional
.header,
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  background: $header-bg;
  color: $header-color;
  padding: $header-padding-vertical $header-padding-horizontal;
}

.header__content {
  left: 50%;
  flex: 0 1 $header-max-width;
  position: relative;
  transform: translateX(-50%);
}

.header__logo {
  // Hack for removing extra spacing around <img /> tags
  // SEE: https://css-tricks.com/fighting-the-space-between-inline-block-elements/
  display: flex;
}

.header__nav {
  position: relative;
}

.header--fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: layer(header);
}
