// Heading for a list.
// <span class="list-heading">Menu title</span>
// <ul>...</ul>
.list-heading {
  border-bottom: $list-heading-border;
  color: $list-heading-color;
  display: block;
  font-weight: $list-heading-font-weight;
  overflow-x: hidden;
  padding: $list-heading-padding;
  text-overflow: ellipsis;
}
