.page-header {
  margin-bottom: $page-header-spacing;
  max-width: $page-header-max-width;
}

.page-header__title {
  font-size: $page-header-title-font-size;
  font-weight: $page-header-font-weight;
  // Reset line-height so vertical spacing can be consistent
  line-height: 1;
  margin-bottom: $page-header-title-spacing;

  &:only-child {
    // Remove spacing if title is only the only elements
    margin-bottom: 0;
  }
}

.page-header__subtitle {
  line-height: inherit;
  margin-bottom: 0;
}

.page-header--bordered {
  border-bottom: $page-header-border;
  padding-bottom: $page-header-title-spacing;
}
