.promo__header {
  color: $promo-header-color;
  font-size: $promo-header-font-size;
  font-weight: $promo-header-font-weight;
  margin-bottom: $promo-header-margin-bottom;
}

.promo__explanatory {
  color: $promo-explanatory-color;
  font-size: $promo-explanatory-font-size;
}
