// SEE: slab.md
.slab {
  border-bottom: $slab-border;
  padding: $slab-padding;
}

.slab__title,
.slab__heading {
  display: block;
  // Match line-height of headings so they can line up nicely.
  line-height: $base-line-height;
  margin-bottom: $quarter-spacing-unit;
}

.slab__title {
  @extend .beta;
}

.slab__heading {
  @extend .small-heading;
}

.slab__section {
  margin: $slab-section-margin;
}

.slab--featured {
  background: $slab-featured-bg;
}

.slab--disabled {
  // Set color instead of opacity so that icons won't be faded out
  color: $slab-disabled-color;

  .slab__heading {
    color: inherit;
  }

  a {
    color: inherit;

    &:hover {
      // Don't override hover styles
      color: initial;
    }
  }
}
