// Pure CSS spinner, from loading.io
.spinner {
  height: $spinner-size;
  width: $spinner-size;

  > div {
    animation: spinner-animation $spinner-speed linear infinite;
    height: $spinner-size;
    position: relative;
    width: $spinner-size;

    & div {
      border-bottom-width: 0;
      border-color: $spinner-color;
      border-radius: 9999px 9999px 0 0;
      border-style: solid;
      border-width: $spinner-width;
      height: $spinner-size / 2;
      position: absolute;
      width: $spinner-size;

      &:nth-of-type(2) {
        transform: translate(0, $spinner-size / 4) rotate(60deg) translate(0, $spinner-size / -4);
      }
    }
  }
}

.spinner--small {
  height: $spinner-small-size;
  width: $spinner-small-size;

  > div {
    animation-duration: $spinner-small-speed;
    height: $spinner-small-size;
    width: $spinner-small-size;

    & div {
      border-bottom-width: 0;
      border-width: $spinner-small-width;
      height: $spinner-small-size / 2;
      width: $spinner-small-size;

      &:nth-of-type(2) {
        transform: translate(0, $spinner-small-size / 4) rotate(60deg) translate(0, $spinner-small-size / -4);
      }
    }
  }
}
