// Pure CSS spinner, from loading.io
.spinner {
  height: $spinner-size;
  width: $spinner-size;

  > div {
    animation: spinner-animation $spinner-speed linear infinite;
    height: $spinner-size;
    position: relative;
    width: $spinner-size;
  }

  > div div {
    position: absolute;
    width: $spinner-size;
    height: $spinner-size / 2;
    border-radius: 9999px 9999px 0 0;
    border-color: $spinner-color;
    border-style: solid;
    border-width: $spinner-width;
    border-bottom-width: 0;

    &:nth-of-type(2) {
      transform: translate(0, $spinner-size / 4) rotate(60deg) translate(0, $spinner-size / -4);
    }
  }
}

.spinner--small {
  height: $spinner-small-size;
  width: $spinner-small-size;

  > div {
    animation-duration: $spinner-small-speed;
    height: $spinner-small-size;
    width: $spinner-small-size;
  }

  > div div {
    width: $spinner-small-size;
    height: $spinner-small-size / 2;
    border-width: $spinner-small-width;
    border-bottom-width: 0;

    &:nth-of-type(2) {
      transform: translate(0, $spinner-small-size / 4) rotate(60deg) translate(0, $spinner-small-size / -4);
    }
  }
}
