// SEE: hero.md
.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $hero-padding;
  text-align: center;
}

.hero__content {
  max-width: $hero-max-width;
}

.hero__title,
.hero__subtitle {
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: $hero-titles-max-width;
}

.hero__title {
  @extend .push18--bottom;
  font-size: $hero-title-font-size;
  font-weight: $hero-title-font-weight;
}

.hero__image {
  @extend .push30--bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero__subtitle {
  @extend .beta;
  @extend .push30--bottom;
  color: $hero-subtitle-color;
}
