// SEE: hero.md
.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $hero-padding;
  text-align: center;
}

.hero__content {
  max-width: $hero-max-width;
}

.hero__title {
  @extend .push30--bottom;
  font-size: $hero-title-font-size;
  font-weight: $hero-title-font-weight;
  line-height: normal;
}

.hero__image {
  @extend .push45--bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero__subtitle {
  @extend .beta;
  @extend .push45--bottom;
  color: $hero-subtitle-color;
  line-height: normal;
}

.hero--large {
  min-height: $hero-large-min-height;
}
