// Extra stylings for links on the site
//
// <a class="nav-link nav-link--active">I am an active nav-link</a>
// <a class="menu-link">I am a menu-link</a>

// Navigation links (typically found in sidebars/header/etc)
.nav-link {
  @include font-size($gamma-font-size, false);
  color: $nav-link-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $nav-link-hover-color;
    text-decoration: none;
  }

  &[disabled] {
    color: $nav-link-disabled-color;
    text-decoration: none;
  }
}

// Active nav-link (element is selected)
.nav-link--active {
  color: $nav-link-active-color;
  font-weight: $nav-link-active-font-weight;
  text-decoration: none;
}

// Menu links (typically found in menus and dropdowns)
.menu-link {
  @include font-size($delta-font-size, false);

  color: $menu-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
