$color-block-color-height: 150px;
$color-block-label-bg: $black;
$color-block-label-color: $white;
$color-block-label-font: monospace;
$color-block-label-padding: $half-spacing-unit;
$color-block-spacing: $base-spacing-unit;
$color-block-width: 200px;
