// Button sizing
$btn-font-size: 12px;
$btn-font-weight: $font-weight-bold;
$btn-large-font-size: $gamma-font-size;
$btn-padding: 12px 30px;
$btn-padding-small: 12px 4px;

// Button coloring
$btn-danger-bg: $red;
$btn-danger-color: $white;
$btn-danger-disabled-bg: $gray-xdc;
$btn-danger-disabled-color: $white;
$btn-primary-bg: $green;
$btn-primary-color: $white;
$btn-primary-disabled-bg: $gray-xdc;
$btn-primary-disabled-color: $white;
$btn-secondary-bg: $white;
$btn-secondary-color: $text-color;
$btn-secondary-border-color: $gray-xdc;
$btn-secondary-disabled-bg: $white;
$btn-secondary-disabled-color: $gray-xdc;
$btn-google-bg: $google-red;
$btn-google-color: $white;
$btn-hover-darken: 7%;

// Border radius
$btn-border-radius: 4px;

// Button groups
$btn-group-border: 1px solid $gray-xdc;
