$carousel-indicator-active-color: $blue;
$carousel-indicator-bg: $gray-xdc;
$carousel-indicator-border-width: 2px;
$carousel-indicator-size: 18px;
$carousel-indicator-spacing: $base-spacing-width / 4;
