$case-study-link-bg: $whitish-black !default;
$case-study-link-color: $white !default;
$case-study-link-desc-padding: $base-spacing-width * 4 !default;
$case-study-link-desc-width: 350px !default;
$case-study-link-height: 400px !default;
$case-study-link-hover-img-scale: 1.05 !default;
$case-study-link-image-height: 300px !default;
$case-study-link-image-width: 60% !default;
$case-study-link-title-spacing: $base-spacing-unit !default;
