$dropdown-border-color: $gray-xdc;
$dropdown-menu-border: solid 1px $dropdown-border-color;
$dropdown-menu-box-shadow: 0 2px 2px $gray-xdc;
$dropdown-menu-border-radius: 4px;
$dropdown-menu-bg: $white !default;
$dropdown-menu-content-padding: $base-spacing-unit !default;
$dropdown-menu-triangle-size: 14px;
$dropdown-menu-width: 16em;
