$footer-border: $border-width solid $border-color;
$footer-color: $light-gray;
$footer-font-weight: $font-weight-bold;
$footer-link-spacing: $base-spacing-width;
$footer-padding: $base-spacing-unit 0 ($base-spacing-unit * 1.5) 0;
