$footer-border: $border-width solid $border-color;
$footer-color: $light-gray;
$footer-font-weight: $font-weight-bold;
$footer-link-spacing: $base-spacing-width;
$footer-padding: $half-spacing-unit 0;
