// Form coloring
$input-text-border-color: $gray-xdc;
$input-text-hover-border-color: $purple;
$input-text-focus-border-color: $whitish-black;
$input-text-disabled-bg: $gray-xf3;
$input-text-error-border-color: $red;
$input-checkbox-border-color: $gray-xdc;
$input-checkbox-checked-bg: $dark-gray;
$nested-checkbox-color: $dark-gray;
$block-label-color: $dark-gray;
$block-label-font-weight: $font-weight-bold;
$block-label-margin: $quarter-spacing-unit;
$block-label-error-color: $red;

// Border radius
$input-text-border-radius: 4px;
