// Header coloring
$header-bg: $white;
$header-color: $whitish-black;
$header-max-width: 100% !default;
$header-padding-horizontal: $base-spacing-width;
$header-padding-vertical: $quarter-spacing-unit;
