$heading-strikethrough-border-color: $border-color-dark !default;
$heading-strikethrough-color: $light-gray !default;
$heading-strikethrough-content-background: $white !default;
$heading-strikethrough-font-size: 12px !default;
$heading-strikethrough-font-weight: $font-weight-bold !default;
$heading-strikethrough-spacing: $half-spacing-unit !default;
