$hero-bg: $green;
$hero-color: $white;
$hero-padding: ($base-spacing-unit * 4) $base-spacing-width;
$hero-max-width: 50rem;

$hero-large-min-height: 90vh;

$hero-subtitle-color: $subheader-color;

$hero-title-font-size: $huge-font-size;
$hero-title-font-weight: $font-weight-light;
