$list-heading-color: $light-purple !default;
$list-heading-font-weight: $font-weight-bold;
$list-heading-padding: $half-spacing-unit $base-spacing-unit !default;
$list-heading-border: 1px solid $gray-xdc;
