$menu-drawer-width: 480px !default;
$menu-drawer-max-width: 95% !default;
$menu-drawer-section-padding:  $base-spacing-unit !default;
$menu-drawer-section-spacing: $base-spacing-unit !default;
$menu-drawer-overlay-bg: rgba($black, 0.5) !default;
$menu-drawer-content-bg: $gray-xf3;
