$nav-list-font-size: 12px;
$nav-list-item-border-color: $gray-xdc;
$nav-list-item-border-spacing: $quarter-spacing-unit;
$nav-list-item-border-width: 2px;
$nav-list-item-spacing: 18px;
$nav-list-link-font-weight: $font-weight-normal;
