$page-header-border: 2px solid $border-color;
$page-header-font-weight: $font-weight-bold;
$page-header-spacing: $base-spacing-unit * 2;
$page-header-subtitle-spacing: $base-spacing-unit;
$page-header-title-spacing: $half-spacing-unit;
