$page-header-border: 2px solid $border-color;
$page-header-font-weight: $font-weight-bold;
$page-header-spacing: $base-spacing-unit;
$page-header-title-font-size: 30px !default;
$page-header-title-spacing: $half-spacing-unit;
