$promo-explanatory-color: $light-gray;
$promo-explanatory-font-size: 19px;
$promo-header-color: $dark-gray;
$promo-header-font-size: 24px;
$promo-header-font-weight: $font-weight-bold;
$promo-header-margin-bottom: $base-spacing-unit;
