$slab-border: solid $border-width $gray-xf3;
$slab-disabled-color: $semi-transparent;
$slab-padding: $base-spacing-unit $base-spacing-width;
$slab-section-margin: $base-spacing-unit 0;
$slab-featured-bg: $semi-transparent-blue;
