@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$spinner-color: $whitish-black;

$spinner-size: 25px;
$spinner-speed: 0.75s;
$spinner-width: 3px;

$spinner-small-size: 15px;
$spinner-small-speed: 0.5s;
$spinner-small-width: 2px;
