// Heading for a list.
// <span class="list-heading">Menu title</span>
// <ul>...</ul>
.list-heading {
  border-bottom: $list-heading-border;
  color: $list-heading-color;
  display: block;
  font-weight: 500;
  padding: $list-heading-padding;
}
