// SEE: slab.md
.slab {
  border-bottom: $slab-border;
  padding: $slab-padding;
}

.slab__title,
.slab__heading {
  display: block;
  // Match line-height of headings so they can line up nicely.
  line-height: $base-line-height;
  margin-bottom: $base-spacing-unit / 2;
}

.slab__title {
  @extend .beta;
}

.slab__heading {
  @extend .block-label;
}

.slab__section {
  margin: $slab-section-margin;
}

.slab--featured {
  background: $slab-featured-bg;
}

.slab--disabled {
  opacity: $opacity-faded;
}
