// Alerts
// ======
// Normal alert message:
//   <div class="alert">
//     Alert message
//   </div>
//
// Error alert:
//   <div class="alert alert--error">
//     Error message
//   </div>
//
// Success alert:
//   <div class="alert alert--sucess">
//     Success message
//   </div>
//
// Alert with close button:
//   <div class="alert alert--sucess">
//     Success message
//     <button class="alert__close">
//       <span class="icon icon-close" aria-label="close" />
//     </a>
//   </div>
// ======
.alert {
  align-items: center;
  background: $alert-bg;
  color: $alert-color;
  display: flex;
  justify-content: space-between;
  // Reset line-height so children will align correctly
  line-height: 1;
  padding: $alert-padding;
}

// Error state alert
.alert--error {
  background: $alert-error-bg;
  color: $alert-error-color;
}

// Success state alert
.alert--success {
  background: $alert-success-bg;
  color: $alert-success-color;
}

// Alert close button
.alert__close {
  background: 0 0;
  border: 0;
  color: $alert-close-color;
  cursor: pointer;
  // Reset line-height so icon can align with accompanying text
  line-height: inherit;
  padding: 0;

  // Ensure all icons use the same color as $alert-close-color
  .icon {
    &:before {
      color: inherit;
    }
  }
}
